src/main/resources/xsd/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="address"
           version="1.1.0">
    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="city" type="xs:string" minOccurs="1"/>
            <xs:element name="zip" type="xs:string" minOccurs="1"/>
            <xs:element name="street" type="xs:string" minOccurs="1"/>
            <xs:element name="streetNumber" type="xs:string" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>