src/main/resources/wsdl/insurance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsurancesWSDL"
             targetNamespace="insurances"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ns="insurances"
             xmlns:cns="insurances"
             xmlns:uns="users"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation>
        Service: InsuranceService
        Version: 1.0.0
        Owner: FEI STUBA I-ASOS
    </documentation>

    <types>
        <xsd:schema targetNamespace="usersns">
            <xsd:import namespace="users" schemaLocation="../xsd/user.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="insurancesns">
            <xsd:import namespace="insurances" schemaLocation="../xsd/insurance.xsd"/>
        </xsd:schema>
    </types>

    <!--    ADD INSURANCE-->
    <message name="addInsuranceRequest">
        <part name="insurance" element="cns:insurance"/>
    </message>
    <message name="addInsuranceResponse">
        <part name="insurance" element="cns:insurance"/>
    </message>
    <!--    GET insurances BY USER-->
    <message name="getInsurancesRequest">
        <part name="id" element="uns:user_id"/>
    </message>
    <message name="getInsurancesResponse">
        <part name="insurances" element="cns:insurances"/>
    </message>

    <portType name="InsuranceServicePortType">
        <documentation>insurance service for CRUD operations</documentation>
        <operation name="add">
            <input message="ns:addInsuranceRequest"/>
            <output message="ns:addInsuranceResponse"/>
        </operation>
        <operation name="getAll">
            <input message="ns:getInsurancesRequest"/>
            <output message="ns:getInsurancesResponse"/>
        </operation>
    </portType>

    <binding name="InsuranceServicePortBinding" type="ns:InsuranceServicePortType">
        <soap:binding style="document" transport="http://schema.xmlsoap.org/soap/http"/>
        <operation name="getAll">
            <soap:operation soapAction="http://localhost:8080/insurance/all"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="add">
            <soap:operation soapAction="http://localhost:8080/insurance/add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="InsuranceService">
        <port name="InsuranceServicePort" binding="ns:InsuranceServicePortBinding">
            <soap:address location="http://localhost:8080/insurance"/>
        </port>
    </service>

</definitions>