src/main/resources/wsdl/user-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:impl="user-service"
        xmlns:uns="users"
        targetNamespace="user-service">
    <wsdl:documentation>
        Service: User service
        Version: 1.0.0
        Owner: FEI STUBA I-ASOS
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="users" schemaLocation="../xsd/user.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!--    GET ALL-->
    <wsdl:message name="getAllUsersRequest"/>
    <wsdl:message name="getAllUsersResponse">
        <wsdl:part name="body" element="uns:users"/>
    </wsdl:message>
    <!--    GET ONE-->
    <wsdl:message name="getOneUserRequest">
        <wsdl:part name="parameter" element="uns:user_id"/>
    </wsdl:message>
    <wsdl:message name="getOneUserResponse">
        <wsdl:part name="body" element="uns:user"/>
    </wsdl:message>
    <!--    ADD-->
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameter" element="uns:user_without_id"/>
    </wsdl:message>
    <wsdl:message name="addUserResponse">
        <wsdl:part name="body" element="uns:user"/>
    </wsdl:message>
    <!--    UPDATE-->
    <wsdl:message name="updateUserRequest">
        <wsdl:part name="parameter" element="uns:user"/>
    </wsdl:message>
    <wsdl:message name="updateUserResponse">
        <wsdl:part name="body" element="uns:user"/>
    </wsdl:message>

    <wsdl:portType name="UserServicePortType">
        <wsdl:operation name="all">
            <wsdl:input message="impl:getAllUsersRequest" name="getAllUsersRequest"/>
            <wsdl:output message="impl:getAllUsersResponse" name="getAllUsersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="one">
            <wsdl:input message="impl:getOneUserRequest" name="getOneUserRequest"/>
            <wsdl:output message="impl:getOneUserResponse" name="getOneUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="impl:addUserRequest" name="addUserRequest"/>
            <wsdl:output message="impl:addUserResponse" name="addUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="impl:updateUserRequest" name="updateUserRequest"/>
            <wsdl:output message="impl:updateUserResponse" name="updateUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UserServiceSoapBinding" type="impl:UserServicePortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="all">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getAllUsersRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllUsersResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="one">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getOneUserRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOneUserResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="addUserRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addUserResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="updateUserRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateUserResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserService">
        <wsdl:port name="UserService" binding="impl:UserServiceSoapBinding">
            <wsdlsoap:address location="http://localhost:8080/user"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>